

header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    display: flex;
    align-items: flex-end;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px; 
}

.menu {
    display: flex;
    flex-direction: row;
    
}


.checkmenu, 
.icon-hamburguer,
.ul-mbl{
    display: none;    
}

.menu > li {
    width: 100px;
    padding: 35px 0;
    margin: 0 20px;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    font-size: 14px;
}

.content{
    visibility: hidden;
    position: absolute;
}

.mostra{
    visibility: inherit;
}
 
.menu ul li{
    list-style: none;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    font-size: 12px;
}

.menu ul{
    border-top: 3px solid rgb(233, 190, 0);
    margin-top: 35px;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(26, 26, 26);
}

.menu a:hover{
    color: gainsboro;
}


.linhamenu {
    border-bottom: 3px solid #EED33E;
}

/* footer */

footer{
    background: rgb(252, 217, 20);
    height: 150px;;
    display: flex;
    align-items: center;
}

footer .colunas{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.endereco, .horario {
    flex: 0 0 30%;
    min-width: 200px;
}

.sociais{
    flex: 0 0 20%;
    min-width: 90px;
}

.sociais{
    display: flex;
    justify-content: space-between;
}

.sociais a{
    text-align: center;
}

.sociais img{
    width: 50px;
}

footer p{
    margin-top: 0;
    font-size: 12px;
}

footer p strong{
    font-weight: 700;
}



@media (max-width:768px) {

    .hamburguer, .icon-hamburguer{
        display: none;
    }

    .menu > li {
        width: 9n0px;
        margin: 15px 10px;
        font-size: 10px;
        margin: 0 10px; 
    }

    .sociais{
        flex: 0 0 30%;
    }

    input, textarea {
        width: 100%;
    }

    nav a{
        padding: 15px 10px;
    }

    footer{
        height: 200px;
    }
}



@media (max-width:425px) {

/** header **/
header{
    padding: 0;
    height: 90px;
    display: flex;
    align-items: center;
}

header .container {
    width: 70%;
}



/** menu desk **/
.menu{
    display: none;
}

/** menu hamburguer **/

header img{
    position: fixed;
    z-index: 2;
}

input[type=checkbox]{
    display: none;
}

.menu-hamb {
    background: #fff;
    z-index: 1;
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;  
    top: 0;  
    transition: .5s ease-in-out;
}

input:checked ~ label .menu-hamb {
    height: 100vh;
}

.hamburguer{
    display: block;
    width: 40px;
    height: 3px;
    top: 45px;
    left: 80%;
    background: rgb(28, 25, 59);
    position: relative;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after{
    width: 100%;
    height: 100%;
    content: '';
    background: rgb(28, 25, 59);
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer::before{
    top: -10px;
}

.hamburguer:after{
    bottom: -10px;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ .ul-mbl {
    opacity:1;
  }

.ul-mbl {
    display: block;
    position: fixed;
    width: 100vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 20px;
    opacity: 0;
    transition: .25s .1s ease-in-out;
    z-index: 1;
    text-align: center;

    
}

.ul-mbl li {
    margin: 30px auto;
    width: 80vw;
    box-sizing: border-box;

}

.ul-mbl a{
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(26, 26, 26);
    margin: auto;;
}

/** tabela **/
td{
    font-size: 12px;
}




/** footer **/
footer{
    height: 350px;;
}

.endereco, .horario{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.sociais{
    width: 80%;
    margin: 10px auto;
}

.sociais img{
    width: 50%;
}

}